// Custom styles. #背景图，若使用，打开
// body {
// 		background:url(/images/background.jpg);
// 		background-repeat: no-repeat;
//     	background-attachment:fixed;
//     	background-position:50% 50%;
//     	background-size: cover;
//     	-webkit-background-size: cover;
//     	-o-background-size: cover;
//     	-moz-background-size: cover;
//     	-ms-background-size: cover;

//     /*这是设置底部文字, 看个人需要修改*/
//      #footer > div > div {
//         color:#eee;
//     }
// 	}