// Custom styles. #背景图，若使用，打开
// .site-meta { 
//   background: url(/images/title-image.gif); //天空的颜色，和我的眼镜是绝配
//   background-repeat: no-repeat;
//   background-position:50% 50%;
//   background-size: cover;
//   -webkit-background-size: cover;
//   -o-background-size: cover;
//   -moz-background-size: cover;
//   -ms-background-size: cover;
// }

// body {
// 		background:url(/images/background.png);
// 		background-repeat: no-repeat;
//     	background-attachment:fixed;
//     	background-position:50% 50%;
//     	background-size: cover;
//     	-webkit-background-size: cover;
//     	-o-background-size: cover;
//     	-moz-background-size: cover;
//     	-ms-background-size: cover;

//     /*这是设置底部文字, 看个人需要修改*/
//      #footer > div > div {
//         color:#eee;
//     }
// 	}


// 主页文章添加阴影效果
// .post {
//    margin-top: 0px;
//    margin-bottom: 10px;
//    padding: 25px;
//    -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
//    -moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
// }
//修改文章间分割线
// .posts-expand {
//   .post-eof {
//     display: block;
//   //  margin: $post-eof-margin-top auto $post-eof-margin-bottom;  
//     width: 0%; //分割线长度
//     height: 0px; // 分割线高度
//     background: $grey-light;
//     text-align: center;
//   }
// }