#################################################################
###################### Hexo Configuration #######################
#################################################################

# Site
title: PGzxc  
subtitle: 纸上得来终觉浅 绝知此事要躬行  
description: ''
keywords: ""
author: PGzxc       
# 多语言基础配置
language: zh-CN
language_switcher: false  # 是否启用语言切换器  
i18n_dir: :lang
timezone: Asia/Shanghai


# URL
url: https://pgzxc.github.io/  #modify
root: /
permalink: posts/:abbrlink.html
abbrlink:
  alg: crc32  # 算法：crc16(default) and crc32
  rep: hex    # 进制：dec(default) and hex
#add v7.8.0
permalink_defaults:
  lang: zh-CN  # 默认语言的 permalink 中 lang 字段值
pretty_urls:
  trailing_index: true # Set to false to remove trailing 'index.html' from permalinks
  trailing_html: true # Set to false to remove trailing '.html' from permalinks

# Directory
source_dir: source
public_dir: public
tag_dir: tags
archive_dir: archives
category_dir: categories
code_dir: downloads/code

skip_render:
  - robots.txt
  - animate/*
  - highlight/*
  - resume/_parts/**

# Writing
new_post_name: :title.md # File name of new posts
default_layout: post
titlecase: false # Transform title into titlecase
external_link:
  enable: true # Open external links in new tab
  field: site # Apply to the whole site
  exclude: ''
filename_case: 0
render_drafts: false
post_asset_folder: false
relative_link: false
future: true
highlight:
  enable: true
  line_number: true
  auto_detect: false
  tab_replace: ''
  wrap: true
  hljs: false

prismjs:
  enable: false
  preprocess: true
  line_number: true
  tab_replace: ''

# Home page setting
index_generator:
  per_page: 5
  order_by: -date

# Category & Tag
default_category: uncategorized
category_map:
tag_map:


# Metadata elements
## https://developer.mozilla.org/en-US/docs/Web/HTML/Element/meta
meta_generator: true

# Date / Time format
date_format: YYYY-MM-DD
time_format: HH:mm:ss
## updated_option supports 'mtime', 'date', 'empty'
updated_option: 'mtime'

# Pagination
per_page: 10
pagination_dir: page


# Include / Exclude file(s)
## include:/exclude: options only apply to the 'source/' folder
include: []
exclude: []
ignore: []


# Extensions
theme: next

archive_generator:
  per_page: 12
  yearly: true
  monthly: true
  daily: false

server:
  port: 7700
  #port: 4000

marked:
  # For preserve original quotes in code blocks.
  smartypants: false
  lazyload: true

search:
  # 说明：通过field字段，确定搜索范围，all-全部搜索，post-文章搜索
  path: search.json
  #field: all
  field: post    # 仅搜索文章，而非所有内容
  content: false # 不包含文章正文（只搜索标题和摘要）
  format: html   # 使用HTML格式而非纯文本

#symbols count
symbols_count_time:
  symbols: false
  time: true
  total_symbols: false
  total_time: false
  exclude_codeblock: false
  awl: 4
  wpm: 275
  suffix: "mins."

# Security
encrypt: # hexo-blog-encrypt
  abstract: 有东西被加密了, 请输入密码查看.
  message: 您好, 这里需要密码.
  tags:
  - {name: tagName, password: 密码A}
  - {name: tagName, password: 密码B}
  template: <div id="hexo-blog-encrypt" data-wpm="{{hbeWrongPassMessage}}" data-whm="{{hbeWrongHashMessage}}"><div class="hbe-input-container"><input type="password" id="hbePass" placeholder="{{hbeMessage}}" /><label>{{hbeMessage}}</label><div class="bottom-line"></div></div><script id="hbeData" type="hbeData" data-hmacdigest="{{hbeHmacDigest}}">{{hbeEncryptedData}}</script></div>
  wrong_pass_message: 抱歉, 这个密码看着不太对, 请再试试.
  wrong_hash_message: 抱歉, 这个文章不能被校验, 不过您还是能看看解密后的内容.  
# Deployment
## Docs: https://hexo.io/docs/deployment.html
deploy:                                         #部署部分的设置
  type: git
  repo: 
    github: git@github.com:PGzxc/PGzxc.github.io.git,hexo
    coding: 
      url: git@e.coding.net:pgzxc/pgzxc/pgzxc.git
      branch: hexo