{%- set languages = site.data.languages %}
{%- set currentLang = page.lang %}
{%- set defaultLang = languages[0] %}

<nav class="sidebar-nav" id="sidebar-nav">
  <ul class="sidebar-nav-menu">
    {%- for name, item in theme.menu %}
      {%- if item.submenu %}
        <li class="menu-item menu-item-{{ name | lower | replace(' ', '-') }}">
          <a href="#" class="sidebar-nav-sub-title">
            <i class="menu-item-icon fa fa-fw fa-{{ item.icon | default('folder-o') }}"></i>
            <span>{{ item.text }}</span>
          </a>
          <ul class="sidebar-nav-submenu">
            {%- for subname, subitem in item.submenu %}
              {%- if subname != 'default' %}
                {%- set subitemURL = subitem.path %}
                {%- if currentLang and currentLang != defaultLang %}
                  {%- set subitemURL = '/' + currentLang + subitem.path %}
                {%- endif %}
                <li class="menu-item menu-item-{{ subname | lower | replace(' ', '-') }}">
                  <a href="{{ subitemURL }}" rel="section">{{ subitem.text }}</a>
                </li>
              {%- endif %}
            {%- endfor %}
          </ul>
        </li>
      {%- else %}
        {%- set itemURL = item.path %}
        {%- if currentLang and currentLang != defaultLang %}
          {%- set itemURL = '/' + currentLang + item.path %}
        {%- endif %}
        <li class="menu-item menu-item-{{ name | lower | replace(' ', '-') }}">
          <a href="{{ itemURL }}" rel="section">
            {%- if item.icon %}
              <i class="menu-item-icon fa fa-fw fa-{{ item.icon }}"></i>
            {%- endif %}
            <span>{{ item.text }}</span>
          </a>
        </li>
      {%- endif %}
    {%- endfor %}
  </ul>
</nav>